
html, body {
  height: 100%; /* Ensure full height for centering */
  margin: 0;    /* Remove default margin */
}
body {
  display: flex; /* Enable flexbox layout */
  flex-direction: column; /* Arrange items in a column */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  background-color: #f0f0f0; /* Optional: background color */
  text-align: center; /* Center text inside the body */
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements horizontally */
  padding: 20px; /* Add padding inside the content */
  background-color: #fff; /* Optional: background color of content */
  border-radius: 10px; /* Optional: rounded corners */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: shadow for some depth */
}
.video-js {
  margin-bottom: 20px; /* Add some space below the video */
}
.toggle {
  margin-top: 5px; /* Add some space above the controls */
}

.return p, .return a {
  margin: 0;
  padding: 0;
}
.slider {
  margin-bottom: 10px;
}


.vjs-marker
{
  position:absolute;
  background:red;
  width:5px;
  height:110%;
  top:-5%;
  z-index:30;
  margin-left:-3px;
}

.vjs-marker:hover span 
{
  opacity:1;
}

.vjs-marker span
{
  position:absolute;
  bottom:15px;
  opacity:0;
  margin-left:-20px;
  z-index:90;
  background:rgba(0,0,0,.8);
  padding:8px;
  font-size:10px;
}

