<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player with Dynamic Speed Control</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <video id="myVideo" width="640" height="360" controls>
        <source src="{{ url_for('static', filename=video_filename) }}" type="video/mp4">
    </video>
    <script type="application/json" id="segments-data">{{ segments | tojson | safe }}</script>
</body>
</html>

