<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Video</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>Play Uploaded Video</h1>
    <video id="myVideo" width="640" height="360" controls>
        <source src="{{ url_for('uploaded_file', filename=filename) }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <p>Uploaded video file name: {{ filename }}</p>
    <a href="{{ url_for('index') }}">Go back to the main page</a>
</body>
</html>
